*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
:root
{
    --Main-color: #1b161b;
    --Secundary-color:  #db2c2c;
    --Color-additional: #ffd7d78e;
}
html, body {
    height: 100%; /**/
    line-height: 1;
    overflow: hidden;
}
video /* Não sei se a idéia era que o video pega 100% altura e width, mas nesse caso não pode ter padding na div pai do video, 
        ele tbm não precisa position absolute pra esse caso não, nem tudo se usa absolute. */
{
    position: fixed; /* => O video fica fixo na tela definindo altura 100% tbm tem q está definido left top igual 0 */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    object-fit: cover; /* => Object-fit ajusta a imagem dentro da div, no caso o cover o preenche o elemento */
    width: 100vw;
    z-index: -1;
}

header /* O Header raramente usa position:absolute, nesse caso aqui foi removido no mais o restante está certo, tais como
        a altura do header, a disposição do elementos estão usou bem o display:flex. */
{
    width: 100%;
    height: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Main-color);
    border-bottom: 5px  solid var(--Secundary-color);
}
header .logo
{
    width: 150px;
}
header .navigation
{
    position: absolute;
    display: flex;
    left: 300px;
    text-align: center;
}
.navigation li
{
    list-style: none;
}
.navigation li a 
{
    color: #fff;
    text-decoration: none;
    position: relative;
    top: -10px;
    font-size: 18px;
    margin: 0 20px;
    font-weight: 600;
    display: inline-block;
    transition: 1s;
}
.navigation li a:hover
{
    color: var(--Secundary-color);
    transform: scale(1.0);
}
.notification
{
    position: absolute;
    display: flex;
    right: 200px;
    top: 20px;
    filter: invert(100%);
}
.notification li a
{
    text-align: center;
    list-style: none;
    text-decoration: none;
}
.notification img
{
    position: relative;
    cursor: pointer;
    right: 20px;
    top: 10px;
    height: 30px;
    margin: 0 20px;
    transition: 0.5s;
}
.notification img:hover
{
    transform: scale(1.5);
}
section {
    position: relative;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box
{
    position: relative;
}
.container
{
    margin: 0 auto;
    padding: 0;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
}
.form
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2 
{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.form h2::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    background: #fff;
}
.form .input-box
{
    width: 100%;
    margin-top: 20px;
}
.form .input-box input
{
    width: 100%;
    background: rgba(255, 255, 255, 0.363);
    border: none;
    outline: none;
    padding: none;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.form .input-box input::placeholder
{
    color: #ffffff;
}
.form .input-box input[type="submit"]
{
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
.senha
{
    font-size: 18;
    margin-top: 5px;
    color: #fff;
}
.senha a
{
    color: var(--Secundary-color);
    font-weight: 600;
    text-decoration: none;
}
